/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nice-menu li {
  border-top: 0;
  float: left; /* LTR */
}

ul.nice-menu a {
  padding: 0.3em 5px 0.3em 5px;
}

ul.nice-menu ul {
  border: 0;
  left: -1px; /* LTR */
  margin-right: 0; /* LTR */
  top: 27px !important;
}

ul.nice-menu ul li {
  width: 2.5em;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right,
ul.nice-menu-left,
ul.nice-menu-right li,
ul.nice-menu-left li {
  width: auto;
}
/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  left: 0px;
  top: 1px;
  width: auto;
}

ul.nice-menu-right ul ul {
  left: 0px;
  top: 1px;
  width: auto;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background: #eee url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background: #ccc url(arrow-right.png) right center no-repeat;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  left: -12.65em;
  top: -1px;
  width: 12.5em;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #eee url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: #ccc url(arrow-left.png) left center no-repeat;
}

/*ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}*//*no padding needed*/

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  border: 0;
  float: right; /* done by nit for right menu */
}


ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-down .menuparent a {
  padding-right: 15px; /* LTR */
}

ul.nice-menu-down li.menuparent {
  background: /*#eee */url(arrow-down.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li.menuparent:hover {
  background: /* #ccc */url(arrow-down.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent {
  background: /*#eee*/ url(arrow-right.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
  background: /*#ccc*/ url(arrow-right.png) right center no-repeat; /* LTR */
}

/******************************
 Garland-specific CSS
******************************/

/**
 * Global CSS for ALL menu types
 */
ul.nice-menu li {
  background-image: none;
  margin: 0;
  padding-left: 0; /* LTR */
}

#header-region ul.nice-menu li {
  background: #eee;
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

#header-region ul.nice-menu ul {
  border: 0;
  border-top: 1px solid #ccc;
  left: -1px; /* LTR */
  margin-right: 0; /* LTR */
  top: 1.8em;
}

#header-region ul.nice-menu ul {
  top: 1.7em;
}

/**
 * HORIZONTAL (down) menus
 */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

#header-region ul.nice-menu-down li.menuparent {
  background: #eee url(arrow-down.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li.menuparent:hover {
  background: #ccc url(arrow-down.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent {
  background: #eee url(arrow-right.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url(arrow-right.png) right center no-repeat; /* LTR */
}
